/* Github: chrisward90 */
/* CSS for Codecademy Unit 5 Secret Agent Supply Inc. Project */

/* Site Content Universal */
html {
  font-size: 18px;
}

body {
  font-family: "Helvetica";
}

.main {
  display: flex;
  flex-direction: column;
  color: white;
}

header, .banner, nav, .grid-items, .store-info, .footer {
  width: 100%;
}

/* 960px Site Container */
.container {
  display: flex;
  width: 960px;
  margin: 0 auto;
}


/* Header Section */

header {
  background-color: black;
}

header .container {
  align-items: center;
  padding: 0.66rem 0;
}

header img {
  height: 1.5rem;
  width: auto;
  padding-left: 0.5rem;
  padding-right: 1rem;
}


/* Featured Banner */

.banner {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 25rem;
}

.banner .container {
  margin-top: 9rem;
}

.banner .featured {
  padding: 2rem 3rem;
  width: 20rem;
  background-color: black;
}

.banner h4 {
  font-weight: bold;
  font-size: 1rem;
}

.banner h1 {
  font-weight: bold;
  font-size: 2rem;
  padding: 0.25rem 0;
}


/* Navigation Section */

nav {
  background-color: firebrick;
}

nav a {
  text-decoration: none;
  color: white;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
}


/* Store Item Grid Section */

.grid-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
}

.grid-item {
  width: 30%;
}

.item-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13rem;
  border: 4px black solid;
}

.pen .item-image img {
  height: 8rem;
  padding: 2rem;
}

.watch .item-image img {
  height: 8rem;
  padding: 2rem;
}

.glasses .item-image img {
  height: 4rem;
}

.grid-item .description {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: black;
}


/* Store Info Section */

.store-info {
  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  width: 35%;
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.title {
  padding: 1rem 2rem;
  background-color: black;
}

.info-text {
  color: black;
}


/* Footer */

footer {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: black;
  height: 13rem;
}

/* Media Queries */

@media only screen and (max-width: 1024px) {
  .grid-items {
    width: 1000px;
  }

  .grid-item {
    width: 47%;
  }

  .info-text {
    width: 35%;
  }
}


/** End of Section for Final Product **/




/* Temporary */




/*************/
